package.json
postcss.config.js
node_modules
yarn-error.log
docs
patches
.hugo_build.lock
hugo_stats.json
content/status.en.md
static/pdfjs
static/images/favicon*
static/images/background.jpg
resources
content/**/front/
content/**/title/
content/**/cover/
content/**/img*/
content/**/page*/
content/**/end-*/
content/**/front-*/
content/**/front*/
content/**/back/
content/**/glasses/
content/**/back*/
content/**/end/a
content/future/3d/**/*-right.*
content/future/3d/**/*-left.*
content/future/3d/**/*.gif
content/future/3d/**/*.jps
content/future/3d/**/*.mpo
content/future/3d/**/*-anaglyph.jpg
content/future/3d/**/*-white_balance.jpg
content/**/img*-*.png
content/**/page*-*.png
content/**/img*-*.json
!content/**/img*-map.json
content/**/page*-*.json
!content/**/page*-map.json
content/**/ogPreview.*g
content/**/ogPreview-overlay.*g
**/.DS_Store
**/*.ogv
content/status.en.md

postcss.config.js
browserslist
.stylelintrc.json
purgecss.config.js
