[submodule "themes/hugo-theme-shell"]
	path = themes/hugo-theme-shell
	url = https://github.com/cmahnke/hugo-theme-shell.git
[submodule "themes/projektemacher-base"]
	path = themes/projektemacher-base
	url = https://github.com/cmahnke/projektemacher-base.git
