@import "fonts/courier-prime";

html, body {
  font-family: "Courier Prime";
}

#std_out_01 #terminal {
  display: block;
  margin-top: .4em;

  pre.center {
    margin: auto;
    display: flex;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
    body {
        font-size: 2.5vmin;
        line-height: 2.6vmin;
    }

    #content {
        min-width: 75vmin;
    }
}
